name: Build and Release

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-android:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --release
        
      - name: Rename APK
        run: mv build/app/outputs/flutter-apk/app-release.apk build/app/outputs/flutter-apk/Boty-v0.1.0-Android.apk

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: Boty-v0.1.0-Android
          path: build/app/outputs/flutter-apk/Boty-v0.1.0-Android.apk

  build-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Linux dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y ninja-build libgtk-3-dev libgstreamer1.0-dev libgstreamer-plugins-base1.0-dev
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build Linux
        run: flutter build linux --release
        
      - name: Zip Linux Bundle
        run: |
          cd build/linux/x64/release/bundle/
          zip -r ../../../../Boty-v0.1.0-Linux.zip .
          
      - name: Upload Linux Bundle
        uses: actions/upload-artifact@v4
        with:
          name: Boty-v0.1.0-Linux
          path: build/linux/x64/release/Boty-v0.1.0-Linux.zip

  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build Windows
        run: flutter build windows --release
        
      - name: Zip Windows Release
        run: |
          Compress-Archive -Path build/windows/x64/runner/Release/* -DestinationPath build/windows/x64/runner/Boty-v0.1.0-Windows.zip
        
      - name: Upload Windows Exe
        uses: actions/upload-artifact@v4
        with:
          name: Boty-v0.1.0-Windows
          path: build/windows/x64/runner/Boty-v0.1.0-Windows.zip
